  h3{
    color: black;
    font-weight: 600;
  }

  div{
    margin: 2.5rem auto;
    color: black;
    font-weight: 600;
  }
  
  label {
    display: block;
    margin: 1.5rem 0;
  }
  .input, textarea {
    display: block;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
  }

  .platform-fields {
    border-left: 2px solid #ddd;
    padding-left: 1.5rem;
  }

  .checkbox{
    display: inline-block;
  }