<form>
    <app-header/>
  <!-- Title and Language -->
<div class="input-group">
  <p>
    <input
      class="user-input__typeTag"
      id="Title"
      name="Title"
      type="text"
      placeholder="Title"
      [value]="formData().title"
      (input)="handleInput($event, 'title')"
    />
  </p>
</div>

<!-- Description and Keywords -->
<div class="input-group">
  <p>
    <textarea
      class="user-input__text-Tag"
      id="Description"
      name="Description"
      placeholder="Description"
      rows="4"
      cols="30"
      [value]="formData().description"
      (input)="handleInput($event, 'description')"
    ></textarea>
  </p>
  <p>
    <textarea
      class="user-input__text-Tag"
      id="Keywords"
      name="Keywords"
      placeholder="Keywords"
      rows="4"
      cols="30"
      [value]="formData().keywords"
      (input)="handleInput($event, 'keywords')"
    ></textarea>
  </p>
</div>

<!-- Charset and Author -->
<div class="input-group">
  <p>
    <select
      class="user-input__drop-tag"
      id="Charset"
      name="Charset"
      [value]="formData().charset"
      (change)="handleInput($event, 'charset')"
    >
      <option value="" disabled>Select Charset</option>
      <option value="UTF-8">UTF-8</option>
      <option value="ISO-8859-1">ISO-8859-1</option>
      <option value="ASCII">ASCII</option>
    </select>
  </p>
  <p>
    <input
      class="user-input__typeTag"
      id="Author"
      name="Author"
      type="text"
      placeholder="Author"
      [value]="formData().author"
      (input)="handleInput($event, 'author')"
    />
  </p>
</div>
<app-social-links (selectedLinks)="updateSocialLinks($event)"></app-social-links>


<!-- Debug Output -->
<!-- <div class="debug-output">
  <h4>Form Data:</h4>
  <pre>{{ formData() | json }}</pre>
</div>
 -->
 <app-tag-generator
 [formData]="formData"
 [socialLinks]="socialLinks"
></app-tag-generator>
  </form>

  