
  form {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
  }


  .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .input-group p {
    flex: 1;
    margin: 0 10px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .user-input__text-Tag {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical; /* Allow vertical resizing, but prevent horizontal */
    font-size: 1rem;
    background-color: #fff;
  }
  

  .user-input__typeTag {
    border-radius: 15px;
    text-align: center;
  }

  .user-input__drop-tag {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    appearance: none; /* Removes default dropdown arrow for customization */
  }

  div{
    color: black;
  }
  